Repository MetaAir2023/WebRPG, pull requests merged in 2023-06, with the labels that each got.

#12 [#7] User Entity 생성
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/entity/Entity.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/entity/User.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/enumtype/ElementalType.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/vo/Money.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/vo/VO.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/exception/Exception.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/exception/MoneyNegativeException.java
Labels: 🏃🏻‍♀️user

#18 [#17] UserApplicationService 클래스 구현
  src/main/java/com/ohgiraffers/webrpg/user/application/service/ApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/service/UserDomainService.java
Labels: 😘 features, 🏃🏻‍♀️user

#22 [#19] 사용자 강화 상태 응답 구현
  build.gradle
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/DTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/UserInfoDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/UserUpgradeStatDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/entity/User.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/service/UserDomainService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/service/pay/Pay.java
  src/main/resources/application.properties
  src/test/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationServiceTests.java
  src/test/java/com/ohgiraffers/webrpg/user/domain/service/UserDomainServiceTests.java
Labels: 😘 features, 🏃🏻‍♀️user

#11 [Hunt] 패키지 구조 설정-1
  src/main/java/com/ohgiraffers/webrpg/database/Map.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/ChoiceMapController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/Controller.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/MonsterAppearController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/MonsterAttackController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/UserAttackController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/ApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/ChoiceMapApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAppearApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/UserAttackApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/service/ChoiceMapDomainService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/service/MonsterAppearDomainService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/service/MonsterAttackDomainService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/service/UserAttackDomainService.java
Labels: 🧌 monster

#39 [#37] 강화 Service 에 유저 ApplicationService 의존성 주입
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/service/ApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/service/UpgradeApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/RequestService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/UpgradeDomainService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserInfoResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserUpgradeStatResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/pay/Pay.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/valid/Valid.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/infra/service/UserRequestService.java
  src/main/resources/application.properties
Labels: 🌟 Refactoring, 😘 features, 🔥enchant, 🏗️ architecture

#42 [#41] UserStatDTO 필드 추가
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/UserStatDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
Labels: 😁Upgrade, 🏃🏻‍♀️user

#44 [#25] [#26] monster attack Controller, Service and New "MonsterAttackDTO"
  settings.gradle
  src/main/java/com/ohgiraffers/webrpg/database/UserInMemoryDatabase.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/MonsterAttackController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/dto/MonsterAttackDTO.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/aggregate/vo/MonsterPower.java
Labels: 🚑help, 😘 features, 🧌 monster

#47 [#43] Upgrade Application Service 구현
  src/main/java/com/ohgiraffers/webrpg/database/UserInMemoryDatabase.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/dto/UpgradeResultDTO.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/service/UpgradeApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/aggregate/enumtype/FlagEnum.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/RequestService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/UpgradeDomainService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserInfoResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserUpgradeStatusResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/infra/service/UserRequestService.java
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/UserInfoDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/webrpg/user/infra/repository/InMemoryUserRepository.java
  src/test/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationServiceTests.java
Labels: 😘 features, 🔥enchant

#49 [#48] Upgrade Application Service 구현
  src/main/java/com/ohgiraffers/webrpg/database/UserInMemoryDatabase.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/webrpg/user/infra/repository/InMemoryUserRepository.java
Labels: 😘 features, 🏃🏻‍♀️user

#52 [#51] 유저 컨트롤러 로그인 구현
  settings.gradle
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/Controller.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/userApplication.java
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/UserInfoDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/loginDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/resources/static/index.html
  src/main/resources/templates/main/loginPage.html
  src/main/resources/templates/main/menu.html
Labels: 😘 features, 🏃🏻‍♀️user, 🏗️ architecture

#54 [#53] 몬스터 공격 패턴 및 회복 패턴 추가 + 관련 DTO 및 Test Code 작성
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/MonsterAttackController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/dto/IntegrateMonsterAttackDTO.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/dto/MonsterAttackDTO.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/dto/MonsterDTO.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/dto/MonsterPatternDTO.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackService.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/aggregate/entity/Monster.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/aggregate/vo/MonsterHp.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/aggregate/vo/RewardExp.java
  src/main/java/com/ohgiraffers/webrpg/hunt/domain/aggregate/vo/RewardMoney.java
  src/test/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackApplicationServiceTests.java
Labels: 🌟 Refactoring, 😘 features, 🧌 monster

#64 [#59] Upgrade Infra Service DataType Builder 패턴 적용
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserInfoResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserUpgradeStatResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/getResult/GetUserUpgradeStatusResult.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/infra/service/UserRequestService.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/test/java/com/ohgiraffers/webrpg/upgrade/application/controller/UpgradeApplicationServiceTests.java
Labels: 🌟 Refactoring, 🔥enchant, 😁Upgrade

#69 [#51] UpgradeController 및 thymeleaf 적용
  src/main/java/com/ohgiraffers/webrpg/database/UserInMemoryDatabase.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/controller/Controller.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/controller/UpgradeController.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/main/resources/templates/main/menu.html
  src/main/resources/templates/upgrade/upgrade.html
  src/main/resources/templates/upgrade/upgradeResult.html
Labels: 😘 features, 🔥enchant

#68 [#66] 몬스터 속성 공격 적용 및 메소드 추가 구현 + Test Code 작성과 테스트
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/MonsterAttackController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/dto/ElementDamageDTO.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/HuntElementalDamage.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackApplicationService.java
  src/test/java/com/ohgiraffers/webrpg/hunt/application/service/MonsterAttackApplicationServiceTests.java
Labels: 😘 features, ⚔️ test, 🔥enchant, 😁Upgrade, 🧌 monster

#77 [#75] 메인 컨트롤러 구현
  src/main/java/com/ohgiraffers/webrpg/main/controller/MainController.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/main/resources/static/index.html
  src/main/resources/templates/hunt/huntSelectMap.html
  src/main/resources/templates/main/loginPage.html
  src/main/resources/templates/main/menu.html
  src/main/resources/templates/upgrade/upgrade.html
  src/main/resources/templates/user/type.html
Labels: 🌟 Refactoring

#81 User Attack service 수정 이후 test 수정
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/HuntElementalDamage.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/service/UserAttackApplicationService.java
  src/test/java/com/ohgiraffers/webrpg/hunt/application/service/CompareElementalTests.java
  src/test/java/com/ohgiraffers/webrpg/hunt/application/service/UserAttackApplicationServiceTests.java
Labels: 👻 bug fix

#85 [#78] 사용자 로그인 예외 처리
  src/main/java/com/ohgiraffers/webrpg/configuration/ErrorConfiguration.java
  src/main/java/com/ohgiraffers/webrpg/database/UserInMemoryDatabase.java
  src/main/java/com/ohgiraffers/webrpg/main/controller/MainController.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/controller/UpgradeController.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/webrpg/user/infra/exception/UserExistException.java
  src/main/java/com/ohgiraffers/webrpg/user/infra/repository/InMemoryUserRepository.java
  src/main/resources/templates/error/default.html
  src/main/resources/templates/error/nullPointer.html
  src/main/resources/templates/main/loginPage.html
  src/main/resources/templates/main/menu.html
Labels: 😘 features, 🏃🏻‍♀️user, 🚧 exception

#92 [#86] 사용자 로그인 예외 처리
  src/main/java/com/ohgiraffers/webrpg/common/interceptor/LoginInterceptor.java
  src/main/java/com/ohgiraffers/webrpg/configuration/WebConfiguration.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
Labels: 🌟 Refactoring, 😁Upgrade, 🏃🏻‍♀️user, 🏗️ architecture

#99 attackbutton 데이터 처리 완료
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/ChoiceMapController.java
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/HuntIntegratedController.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/vo/Money.java
  src/main/resources/templates/hunt/huntResult.html
  src/main/resources/templates/hunt/huntfail.html
  src/main/resources/templates/hunt/huntmaps/hunt1.html
Labels: 👻 bug fix, 🧌 monster, 🗺️Map

#101 [#87, #88] 로그인 시 비밀번호 추가
  src/main/java/com/ohgiraffers/webrpg/database/UserInMemoryDatabase.java
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/main/java/com/ohgiraffers/webrpg/user/application/dto/loginDTO.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/entity/User.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/vo/Password.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/exception/PasswordUnCorrectException.java
  src/main/resources/templates/main/loginPage.html
Labels: 😘 features, 😁Upgrade, 🏃🏻‍♀️user, 🚧 exception

#103 html주소값 수정
  src/main/resources/static/css/hunt.css
  src/main/resources/static/css/type.css
  src/main/resources/static/css/upgrade.css
  src/main/resources/static/index.css
  src/main/resources/templates/hunt/huntResult.html
  src/main/resources/templates/hunt/huntSelectMap.html
  src/main/resources/templates/hunt/huntfail.html
  src/main/resources/templates/hunt/huntmaps/hunt10.html
  src/main/resources/templates/hunt/huntmaps/hunt2.html
  src/main/resources/templates/hunt/huntmaps/hunt3.html
  src/main/resources/templates/hunt/huntmaps/hunt4.html
  src/main/resources/templates/hunt/huntmaps/hunt5.html
  src/main/resources/templates/hunt/huntmaps/hunt6.html
  src/main/resources/templates/hunt/huntmaps/hunt7.html
  src/main/resources/templates/hunt/huntmaps/hunt8.html
  src/main/resources/templates/hunt/huntmaps/hunt9.html
  src/main/resources/templates/upgrade/upgrade.html
Labels: 👻 bug fix, 🦄 design

#109 [#106] 로그아웃 간단 구현
  src/main/java/com/ohgiraffers/webrpg/user/application/controller/UserController.java
  src/main/resources/templates/main/menu.html
Labels: 😘 features, 🏃🏻‍♀️user

#110 [Html] mouse pointer settings upgrade.css, hunt.css
  src/main/resources/static/css/hunt.css
  src/main/resources/static/css/type.css
  src/main/resources/static/css/upgrade.css
  src/main/resources/static/img/pointer1.png
  src/main/resources/templates/hunt/hunt.css
  src/main/resources/templates/main/upgrade.css
Labels: 👻 bug fix, 🦄 design

#111 [#108] 전투 로그 Test 완료 + 전투 세션 clear
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/HuntIntegratedController.java
  src/main/resources/templates/hunt/huntResult.html
  src/main/resources/templates/hunt/huntfail.html
Labels: 🌟 Refactoring, 😁Upgrade, 🧌 monster

#112 css 변경
  src/main/resources/static/css/upgrade.css
  src/main/resources/static/index.css
  src/main/resources/templates/hunt/hunt.css
  src/main/resources/templates/hunt/hunt.js
  src/main/resources/templates/hunt/huntfail.html
  src/main/resources/templates/hunt/huntmaps/hunt1.html
  src/main/resources/templates/hunt/huntmaps/hunt10.html
  src/main/resources/templates/hunt/huntmaps/hunt2.html
  src/main/resources/templates/hunt/huntmaps/hunt3.html
  src/main/resources/templates/hunt/huntmaps/hunt4.html
  src/main/resources/templates/hunt/huntmaps/hunt5.html
  src/main/resources/templates/hunt/huntmaps/hunt6.html
  src/main/resources/templates/hunt/huntmaps/hunt7.html
  src/main/resources/templates/hunt/huntmaps/hunt8.html
  src/main/resources/templates/hunt/huntmaps/hunt9.html
  src/main/resources/templates/main/menu.html
  src/main/resources/templates/main/type.css
  src/main/resources/templates/main/upgrade.css
Labels: 🦄 design

#113 [#105] 강화 비용 저장 관련 이슈 해결
  src/main/java/com/ohgiraffers/webrpg/hunt/application/controller/HuntIntegratedController.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/controller/UpgradeController.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/application/service/UpgradeApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/domain/service/RequestService.java
  src/main/java/com/ohgiraffers/webrpg/upgrade/infra/service/UserRequestService.java
  src/main/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationService.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/aggregate/enumtype/MoneyMark.java
  src/main/java/com/ohgiraffers/webrpg/user/domain/service/UserDomainService.java
  src/test/java/com/ohgiraffers/webrpg/upgrade/application/controller/UpgradeApplicationServiceTests.java
  src/test/java/com/ohgiraffers/webrpg/user/application/service/UserApplicationServiceTests.java
Labels: 👻 bug fix, 🔥enchant

#114 [Html&css] mouse pointer settings hunt result:fail page
  src/main/resources/static/css/hunt.css
Labels: 👻 bug fix, 🦄 design
